/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background: url("./images/green-custom-bg.jpg");
  background-size: cover;
  background-position: left left;
  width: 100%;
  height: fit-content;
}

.background2 {
  background: url("./images/green-custom-bg@2x.a83366619412aab1d914-scaled.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: fit-content;
}
.font100 {
  font-weight: 300;
}

.range ::-webkit-slider-thumb{ 
-webkit-appearance: none;
}

.romove-counter{
  appearance: textfield;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s 
}

.content.show {
  height: auto;
  max-height: 999px;
  transition: all 0.6s 
}
.swiper-button-next {
  background: #fff;
  height: 50px;
  width: 50px !important;
  border-radius: 50%;
  display: none !important;
  position: absolute;
  right: -2rem !important;
  z-index: 9999999999 !important ;

  /* background-color: whitesmoke; */
}
.swiper-button-next:after {
  color: black;
  font-weight: bolder;
  font-size: 15px !important;

  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: black;
  font-size: 15px !important;
  display: none !important;
  font-weight: bolder;
}

@media screen and (max-width: 1058px) {
  .background {
    background: url("./images/green-custom-bg.jpg");
    background-size: cover;
    background-position: left left;
    width: 100%;
    height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  .background {
    background: url("./images/green-custom-bg.jpg");
    background-size: cover;
    background-position: left left;
    width: 100%;
    height: fit-content;
  }
  .background2 {
    background: url("./images/green-custom-bg@2x.a83366619412aab1d914-scaled.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: fit-content;
  }
}
